<div class="create">
  <div class="form-block">
    <span>Title</span>
    <input placeholder="Enter task title" class="form-input title-field" id="create-title"/>
  </div>
  <div class="form-block">
    <span>Description</span>
    <textarea placeholder="Enter task description" class="form-textarea description-field" id="create-description"></textarea>
  </div>
  <div class="form-block">
    <span>Priority</span>
    <select class="form-select custom-select-task">
      <option selected value="low" class="text-danger">Low</option>
      <option value="medium" class="text-warning">Medium</option>
      <option value="high" class="text-success">High</option>
    </select>
  </div>
</div>